table{
    /*width:100%;*/
}
table th{
    white-space: nowrap;
}
table th:last-child{
    /*width:100%;*/
}

button.leftrightmove {
	font-size: 12px;
	padding: 2px 2px;
}



table {
	border-collapse:collapse; 
	table-layout:fixed; 
	width:100%;
}
table td {
	border:solid 1px #fab; 
	width:100px; 
	word-wrap:break-word;
}

button.enroll {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 24;
}
button.upabove {
	width: 50%;
}

button.observe {
	background-color: #3498DB;
}
