caption, h1, h2{
	text-align: center;
}


#clearbtn {
	background-color: #fff;
	text-align: center;
}

#typebtn {
	background-color: #FFFF00;	
	text-align: center;
}




label {
	width: 100%;
	display: inline-block;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
	background-color: #4CAF50;
}

/*for login*/
input:focus {
    background-color: #ddd;
    outline: none;
}



table#Ask_board, table#Offer_board {
	table-layout: fixed;
	width: 50%;
	border-collapse: collapse;
}
table#Ask_board{
	float: left;
}
table#Offer_board{
	float: right;
}
table#Ask_board td, table#Ask_board th, table#Offer_board td, table#Offer_board th {
	border:solid 0.5px #A9A9A9; 

}
table#Ask_board th, button#ask_button{
	background-color: #3498DB;
}
table#Offer_board th, button#offer_button{
	background-color: #FFFF00;
}

table#Ask_board td, table#Offer_board td{
	word-wrap:break-word;
	/*width: 4%;*/
    height: 94px !important;
    /*background-color: #FFFF00;*/
}

button.upabove {
    /*background-color: #4CAF50;*/
    /*color: white;*/
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 33%;
    font-size: 24;
	float: left;
}




#delete_action_img {
	width: 40px;
	height: 36px;
}

#copy_action_img {
	width: 54px;
	height: 42px;
	float: right;
}

#result_area {
	display: block;
}



table#ContactInfoTable {
	width: 100%;
	border-collapse: collapse;
	border-color: black;

}
/*table#ContactInfoTable td {
	border:solid 0.5px white;
	height: 20px;
	width: auto;

}*/
